* {
  box-sizing: border-box;
}

form.modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem auto;
  width: 60%;
  background-color: #6d7275;
  border-radius: 10px;
  padding: 3% 2rem;

  div.input {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;

    input.textInput {
      border: none;
      outline: none;
      font-size: 0.7vw;
      border-radius: 22px;
      padding: 5%;
      width: 80%;
      font-weight: 500;
      background-color: #ecebf3;
    }

    p {
      text-align: center;
      top: 90%;
      position: absolute;
      color: red;
    }
  }

  button.submit {
    background-color: #c20114;
    border-radius: 22px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85vw;
    font-weight: 600;
    outline: none;
    padding: 0.75rem 4rem;
    position: relative;
    text-align: center;
    margin-left: auto;
  }
}
@media (max-width: 1024px) {
  form.modal {
    input.textInput {
      font-size: 0.85vw;
      width: 80%;
      margin: 1% auto;
      font-size: 2vw;
      padding: 0.75rem 2rem;
    }
    button.submit {
      padding: 0.75rem 2rem;
    }
  }
}
@media (max-width: 900px) {
  form.modal {
    padding: 2%;
    margin: 2% auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    div.input {
      width: 100%;

      input.textInput {
        width: 50%;
        font-size: 3vw;
        padding: 2%;
        text-align: center;
      }
      p {
        text-align: center;
        top: 0%;
        position: relative;
      }
    }

    button.submit {
      padding: 0.75rem 2rem;
      margin: 2% auto;
      font-size: 3vw;
    }
  }
}
